<div ng-controller="InventoryGuidesPageController">
    <md-card style="background-color: white">
        <div class="extension-card-title">
            <h2>Шапка инвентаря</h2>
            <md-button ng-click="showScreenshot($event, screenshots.INVENTORY_PAGE_HEAD_TABS_BLOCK)">
                Скриншот
            </md-button>
        </div>

        <md-input-container>
            <label>Title</label>
            <input>
        </md-input-container>

        <!--<md-checkbox ng-init="showMakeGuid = options.GUIDES_PAGE_HEADER_SHOW_MAKE_GUIDE_BUTTON"
                     ng-model="data[showMakeGuid]"
                     ng-checked="setToLocalStorage(showMakeGuid)">
            Добавить кнопку "Написать руководство" (TODO: демонстрация)
        </md-checkbox>

        <md-checkbox ng-init="hideSubtitle = options.GUIDES_PAGE_HEADER_HIDE_SUBTITLE"
                     ng-model="data[hideSubtitle]"
                     ng-checked="setToLocalStorage(hideSubtitle)">
            Убрать вводный текст (TODO: демонстрация)
        </md-checkbox>-->
    </md-card>

</div>