<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Общее</h2>
        </div>
        <md-checkbox ng-init="blocksExpand = options.APP_PAGE_BLOCKS_EXPAND"
                     ng-model="data[blocksExpand]"
                     ng-checked="setToLocalStorage(blocksExpand)">
            Раскрыть все блоки, содержащие "Читать далее"
        </md-checkbox>
    </md-card>
</div>

<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Блок "Метки"</h2>
            <md-button ng-click="showScreenshot($event, screenshots.APP_PAGE_MARK_BLOCK)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="markBlock = options.APP_PAGE_MARK_BLOCK_HIDE"
                     ng-model="data[markBlock]"
                     ng-checked="setToLocalStorage(markBlock)">
            Убрать блок
        </md-checkbox>
    </md-card>
</div>

<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Блок "Поделиться, HTML-код, Пожаловаться"</h2>
            <md-button ng-click="showScreenshot($event, screenshots.APP_PAGE_SHARE_AND_ABUSE_BLOCK)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="hideShareAndAbuseBlock = options.APP_PAGE_SHARE_AND_ABUSE_BLOCK_HIDE"
                     ng-model="data[hideShareAndAbuseBlock]"
                     ng-checked="setToLocalStorage(hideShareAndAbuseBlock)">
            Убрать блок
        </md-checkbox>
    </md-card>
</div>

<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Блок "Написать обзор"</h2>
            <md-button ng-click="showScreenshot($event, screenshots.APP_PAGE_MAKE_REVIEW_BLOCK)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="hideReviewBlock = options.APP_PAGE_MAKE_REVIEW_BLOCK_HIDE"
                     ng-model="data[hideReviewBlock]"
                     ng-checked="setToLocalStorage(hideReviewBlock)">
            Убрать блок
        </md-checkbox>
    </md-card>
</div>

<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Блок "Рекомендовано кураторами"</h2>
            <md-button ng-click="showScreenshot($event, screenshots.APP_PAGE_CURATORS_BLOCK)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="curatorsBlock = options.APP_PAGE_CURATORS_BLOCK_HIDE"
                     ng-model="data[curatorsBlock]"
                     ng-checked="setToLocalStorage(curatorsBlock)">
            Убрать блок
        </md-checkbox>
    </md-card>
</div>

<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Блок "Похожие товары"</h2>
            <md-button ng-click="showScreenshot($event, screenshots.APP_PAGE_RECOMMENDED_BLOCK)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="recommendedBlock = options.APP_PAGE_RECOMMENDED_BLOCK_HIDE"
                     ng-model="data[recommendedBlock]"
                     ng-checked="setToLocalStorage(recommendedBlock)">
            Убрать блок
        </md-checkbox>
    </md-card>
</div>

<div ng-controller="SteamAppPageController">
    <md-card class="extension-card">
        <div class="extension-card-title">
            <h2>Блок "Обзоры"</h2>
            <md-button ng-click="showScreenshot($event, screenshots.APP_PAGE_REVIEW_BLOCK)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="reviewFilterLabelHide = options.APP_PAGE_REVIEW_BLOCK_FILTER_LABEL_HIDE"
                     ng-model="data[reviewFilterLabelHide]"
                     ng-hide="data[reviewsBlock]"
                     ng-checked="setToLocalStorage(reviewFilterLabelHide)">
            Убрать кнопку "Об обзорах"
        </md-checkbox>
        <md-checkbox ng-init="reviewAboutHide = options.APP_PAGE_REVIEW_BLOCK_ABOUT_HIDE"
                     ng-model="data[reviewAboutHide]"
                     ng-hide="data[reviewsBlock]"
                     ng-checked="setToLocalStorage(reviewAboutHide)">
            Убрать подпись "Фильтр"
        </md-checkbox>
        <md-checkbox ng-init="reviewsBlock = options.APP_PAGE_REVIEW_BLOCK_HIDE"
                     ng-model="data[reviewsBlock]"
                     ng-checked="setToLocalStorage(reviewsBlock)">
            Убрать блок
        </md-checkbox>
    </md-card>
</div>