<div ng-controller="CommonSteamPageController">
    <md-card style="background-color: white">

        <div class="extension-card-title">
            <h2>Правый верхний блок страницы</h2>
            <md-button ng-click="showScreenshot($event, screenshots.MAIN_PAGE_HEADER_RIGHT_BLOCK)">
                Скриншот
            </md-button>
        </div>

        <md-checkbox ng-init="hideButtonDownload = options.COMMON_PAGE_HEADER_HIDE_BUTTON_DOWNLOAD"
                     ng-model="data[hideButtonDownload]"
                     ng-checked="setToLocalStorage(hideButtonDownload)">
            Скрыть кнопку «Установить Steam»
        </md-checkbox>
        <md-checkbox ng-init="viewProfile = options.COMMON_PAGE_HEADER_REMOVE_VIEW_PROFILE_IN_DROPDONW_LIST"
                     ng-model="data[viewProfile]"
                     ng-checked="setToLocalStorage(viewProfile)">
            Убрать пункт "Посмотреть профиль" из выпадающего меню
        </md-checkbox>
    </md-card>

    <md-card style="background-color: white">

        <div class="extension-card-title">
            <h2>Глобальное меню</h2>
            <md-button ng-click="showScreenshot($event, screenshots.COMMON_PAGE_GLOBAL_MENU)">
                Скриншот
            </md-button>
        </div>

        <md-checkbox ng-init="hideAbout = options.COMMON_PAGE_GLOBAL_MENU_HIDE_ABOUT"
                     ng-model="data[hideAbout]"
                     ng-checked="setToLocalStorage(hideAbout)">
            Убрать пункт «О Steam»
        </md-checkbox>
        <md-checkbox ng-init="hideSupport = options.COMMON_PAGE_GLOBAL_MENU_HIDE_SUPPORT"
                     ng-model="data[hideSupport]"
                     ng-checked="setToLocalStorage(hideSupport)">
            Убрать пункт "Поддержка"
        </md-checkbox>
    </md-card>

    <md-card style="background-color: white">
        <div class="extension-card-title">
            <h2>Футер (страницы магазина)</h2>
            <md-button ng-click="showScreenshot($event, screenshots.COMMON_PAGE_STORE_FOOTER)">
                Скриншот
            </md-button>
        </div>
        <md-checkbox ng-init="footerTopHide = options.COMMON_PAGE_STORE_FOOTER_TOP_HIDE"
                     ng-model="data[footerTopHide]"
                     ng-checked="setToLocalStorage(footerTopHide)">
            Убрать меню, располагающееся над копирайтами
        </md-checkbox>
        <md-checkbox ng-init="footerBottomHide = options.COMMON_PAGE_STORE_FOOTER_BOTTOM_HIDE"
                     ng-model="data[footerBottomHide]"
                     ng-checked="setToLocalStorage(footerBottomHide)">
            Убрать меню, располагающееся под копирайтами
        </md-checkbox>
        <div class="extension-card-checkbox-with-screenshot">
            <md-checkbox ng-init="footerLogoFix = options.COMMON_PAGE_FOOTER_LOGO_FIX"
                         ng-model="data[footerLogoFix]"
                         ng-checked="setToLocalStorage(footerLogoFix)">
                Поправить позиционирование логотипа Valve
            </md-checkbox>

            <md-button ng-click="showScreenshot($event, demonstrations.COMMON_PAGE_FOOTER_LOGO_FIX)">
                Демонстрация
            </md-button>
        </div>
    </md-card>

    <md-card style="background-color: white">
        <div class="extension-card-title">
            <h2>Список языков</h2>
        </div>

        <md-checkbox ng-init="simplifyLanguageList = options.COMMON_PAGE_LANGUAGE_LIST_SIMPLIFY"
                     ng-model="data[simplifyLanguageList]"
                     ng-checked="setToLocalStorage(simplifyLanguageList)">
            Сократить список языков (оставить только русский и английский)
        </md-checkbox>

        <md-checkbox ng-init="supportTranslateSteamHide = options.COMMON_PAGE_SUPPORT_TRANSLATE_STEAM_HIDE"
                     ng-model="data[supportTranslateSteamHide]"
                     ng-checked="setToLocalStorage(supportTranslateSteamHide)">
            Убрать пункт "Помогите перевести Steam"
        </md-checkbox>

    </md-card>
</div>