body {
    background: #000000;
    background-position: center 105px;
    background-repeat: no-repeat;
    background-image: url('../img/background.jpg');
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0);
    margin: auto;
}

div#global_header {
    background-image: url('http://cdn4.store.steampowered.com/public/images/v5/globalheader_bg.jpg');
    background-position: center top;
}

center {
    display: inline-block;
    text-align: center;
}

fieldset {
    width: 500px;
    margin: 20px auto;
    background:#262626;
    color: #ffffff;
    border-color: #262626 ;
}



hr {
    border: none;
    background-color: #e5e5e5;
    height: 1px;
    margin: 15px 0;
}

#page {
    margin: 20px auto;
    width: 800px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 0 3px 12px #a9a9a9;
   }

header {
    padding: 20px;
    font-size: 18px;
}

header img {
    margin-right: 12px;
    vertical-align: middle;
}



#centered {
    display: list-item;
}

#temp1 {
    margin: 0 auto;
    vertical-align: middle;
    display: block;
}

#temp {

    width: 1023px;
    height: 105px;
    text-align: left;
    margin: 0px auto;
    font-size: 14px;
    color: #727477;
}

button {
    padding: 0 15px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 2px;
    margin: 20 auto;
    display: block;
    background:#262626;
    color: #ffffff;
    cursor: pointer;
}

#save:hover {
    border: transparent;
}

#save:focus {
    border: transparent;
}

#save:active {
    border: transparent;
}

#help li {
    margin-bottom: 10px;
}
