<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../css/angular-material.min.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body ng-app="ZeroSteam">

<div ng-controller="CommonController" class="wrapper">
    <section class="extension-section" layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 extension-menu-sidenav"
                    md-component-id="left" md-is-locked-open="$media('gt-sm')">
            <md-content flex="" style="overflow: auto;">
                <div ng-repeat="item in items">
                    <!--todo md-divider -->
                    <a class="menu-item menu-sub-item md-menu-item" md-ink-ripple="#bbb"
                       ng-href="{{getURL(item.url)}}"
                       ng-click="setSelected(item.id)" ng-class="{menuItemSelected: item.id === idSelectedItem}">
                        <span>{{item.title}}</span><br/>
                        <!--todo подпись под элементом -->
                    </a>
                </div>
            </md-content>
        </md-sidenav>
        <md-content flex class="md-padding" style="background-color: #f2f2f2">
            <div layout="column" layout-fill layout-align="center center">
                <md-content style="width: 80%; background-color: transparent">
                    <!-- с помощью магии ui-route сюда вставляется необходимый контент -->
                    <div ui-view></div>
                </md-content>
            </div>
        </md-content>
    </section>
</div>

<script src="../js/option/angular/angular.min.js"></script>
<script src="../js/option/angular-aria/angular-aria.min.js"></script>
<script src="../js/option/angular-animate/angular-animate.min.js"></script>
<script src="../js/option/hammerjs/hammer.min.js"></script>
<script src="../js/option/angular-material/angular-material.min.js"></script>
<script src="../js/option/angular-ui-router/angular-ui-router.min.js"></script>
<script src="../js/option/app.js"></script> <!--todo переименовать -->
<script src="../js/option/arrays.js"></script>

</body>
</html>